
body{
    margin: 0;
    padding: 0;
    color: white;
}

.walmartLogo{
    width: 200px;
    height: 100px;
    object-fit: contain;
}

.navBack{
    background-color: rgb(0, 124, 194);
}

.nav-link{
    color: white !important;
}

